@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background-color: bisque;
  color: black;
  border: solid lightgray;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  border-radius: 2px;
  margin-right: 8px;
  margin-left:20px;
  transition: opacity 0.15s;
  vertical-align: middle;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.5;
}

.Video {
  display: flex;
  justify-content: center;
  background-color: navy;
  color: white;
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.ATS-IMG {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}