@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: white;
  }
}

h1 {
  background-color: white;
  font-family: "Poiret One", serif;
  font-size: 30px;
  font-weight: 400;
  font-style: bold;
  text-align: center;
}

main {
  background-color: hsl(228, 61%, 32%);
}

.Buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: black;
}

.Buttons .button {
  flex: 0 1 calc(50% - 16px); /* Adjust the width to 50% minus the margin */
  margin: 8px; /* Add margin to create space between buttons */
}

.button {
  background-color: white;
  color: black;
  border: solid hsl(228, 61%, 32%);
  padding-top: 100px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 100px;
  border-radius: 2px;
  margin-right: 8px;
  margin-left:20px;
  
  transition: opacity 0.15s;
  vertical-align: middle;
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 40px;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.5;
}


.Video {
  display: flex;
  justify-content: center;
  background-color:  hsl(228, 61%, 32%);
  color: white;
  width: 100%;
  height: auto;
  border-radius: 2px;
  padding-top: 100px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 100px;
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.Video:hover {
  opacity: 0.8;
}

.Video:active {
  opacity: 0.5;
}


.ATS-IMG {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

footer {
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}