.nav div {
  height: 4px;
  background-color: white;
  margin: 5px 0px; 
  border-radius: 25px;
  transition: 0.3s;
}

.nav {
  width: 30px;
  display: white;
  margin: 1em 0 0 1em;
}

.one{
  width: 20px;
}
.two{
  width: 15px;
}
.three{
  width: 10px;
}
.nav:hover div {
  width: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c2a63;
  padding: 15px;
  position: relative;
  color: white;
  font-family: "Poiret One", serif;
}